@font-face {
  font-family: google;
  src: url(google.ttf);
}
@font-face {
  font-family: regular;
  src: url(regular.ttf);
}

.b{
 background: #eeeeee;
}

.middleit{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:30%;
}

#but1{
  background:#353535;
  border-color: #ff000000;
  color:white;
  font-family: google;
  font-size:17pt;
  height:50px;
  font-weight: 400;

}

#but1:focus, #but1:active {
    color:white;
    background:#353535;
    border:1pt solid white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1) inset, 0px 0px 0px rgba(0, 0, 0, 1);
}

h3{

  width:100%;
  margin-bottom:35pt;
  font-family: google;
  font-size:28pt;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 10pt;
  text-underline-position: under;
}

#lab{
  font-family: google;
  font-weight:500;
  color:#0d3b4c ;
  font-size:15pt;
  text-decoration: underline;
  background: #ff000000;
}

.fa{
  margin-left:10pt;
  font-size: 35px;
}

.alert{
  font-size:12.5pt;
  font-family: google;
}

.col-form-label{
  display:none;
}

.textinput{
  width: 100%;
  font-family: google;
  font-size:17pt;
  height:50px;
  font-weight: 400;  
  border-color: #606060;
}

.textinput:focus {
    color:black;
    border-color: #202020;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1) inset, 0px 0px 0px rgba(0, 0, 0, 1);

}

.emailinput{
  width: 100%;
  font-family: google;
  font-size:17pt;
  height:50px;
  font-weight: 400;  
  border-color: #606060;
}

.emailinput:focus {
    color:black;
    border-color: #202020;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1) inset, 0px 0px 0px rgba(0, 0, 0, 1);

}

#id_username{
font-size: 15pt;
background: rgba(255,255,255,0.15);
font-size: 15pt;
background: rgba(255,255,255,0.15);
width: 100%;
font-family: google;
font-size:16pt;
height:50px;
font-weight: 400;  
border-color: #606060;
}
#id_email{
font-size: 15pt;
background: rgba(255,255,255,0.15);
}
#id_password1{
font-size: 15pt;
background: rgba(255,255,255,0.15);
}
#id_password2{
font-size: 15pt;
background: rgba(255,255,255,0.15);
}

.form-text{
  display: none;
}

.invalid-feedback{
  font-family: google;
  font-size: 10pt;
  color:#151515;
}

#id_username::placeholder { 
  color:#404040;
  opacity: 1; 
}

#id_email::placeholder { 
  color:#404040;
  opacity: 1; 
}

#id_password1::placeholder { 
  color:#404040;
  opacity: 1; 
}

#id_password2::placeholder { 
  color:#404040;
  opacity: 1; 
}

#id_password{
font-size: 15pt;
background: rgba(255,255,255,0.15);
width: 100%;
font-family: google;
font-size:16pt;
height:50px;
font-weight: 400;  
border-color: #606060;
}

#id_password::placeholder { 
  color:#404040;
  opacity: 1; 
}

#id_password:focus {
    color:black;
    border-color: #202020;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1) inset, 0px 0px 0px rgba(0, 0, 0, 1);

}